body,
.team-list-item,
.portfolio-list-item {
  background-color: #ffffff;
}

body,
.address-link {
  color: #434455;
}

/* END COMMON */

/* START SECTIONS */

/* FORM */

.menu-mobile-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .menu-mobile-button-close:hover,
.menu-mobile-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.menu-mobile-button-close:hover .menu-mobile-button-close-icon,
.menu-mobile-button-close:focus .menu-mobile-button-close-icon {
  fill: #ffffff;
}

.menu-mobile-button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.menu-mobile-navigation {
  margin-left: 16px;
  margin-bottom: 168px;
}

.menu-mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.menu-mobile-list-item {
  padding: 0;
}

.menu-mobile-address {
  margin-left: 16px;
  margin-bottom: 48px;
}

.menu-mobile-address-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.menu-mobile-address-link {
  color: #434455;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.menu-mobile-address-link:hover,
.menu-mobile-address-link:focus {
  color: #404bbf;
}

.menu-mobile-list-social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-left: 16px;
}
