body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body,
.team-list-item,
.portfolio-list-item {
  background-color: #ffffff;
}

body,
.address-link {
  color: #434455;
}

.section {
  padding: 188px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section img {
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.span-top,
.nav-link {
  color: #2e2f42;
}

.footer {
  background-color: #2e2f42;
}

.footer-descr,
.span-bottom {
  color: #f4f4fd;
}

.hero-title,
.hero-button {
  color: #ffffff;
}

.nav-link,
.address-link,
.hero-title,
.team-title,
.list-title,
.list-descr,
.portfolio-title .footer-descr {
  letter-spacing: 0.02em;
}

.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.div-header,
.header-navigation,
.header-navigation-list,
.header-address-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  margin-right: 76px;
}

.header-navigation-link,
.header-navigation-list-link,
.address-link {
  padding: 24px 0;
}

.header-navigation-list {
  gap: 40px;
}

.header-navigation-list-item {
  width: calc((100% - 80px) / 3);
  position: relative;
  color: #404bbf;
}

.header-navigation-list-link {
  font-weight: 500;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

address {
  margin-left: auto;
  font-style: normal;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list {
  gap: 40px;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  max-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  position: relative;
  margin: 0 0 8px 0;
}

.benefits-list-title {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  justify-content: center;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item-container {
  padding: 32px 0;
}

.team-list-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-descr {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-social-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-social-item {
  width: 40px;
  height: 40px;
}

.team-list-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-social-link:hover {
  background-color: #404bbf;
}

.team-list-social-link:focus {
  background-color: #404bbf;
}

.team-list-social-icon {
  fill: #f4f4fd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio {
  padding: 120px 0;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overlay-img {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-overlay-text {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-list-title {
  margin-bottom: 8px;
}

.footer {
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-descr {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-title {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list-social-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-list-social-item {
  width: 40px;
  height: 40px;
}

.footer-list-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-social-link:hover,
.footer-list-social-link:focus {
  background-color: #31d0aa;
}

.footer-list-social-icon {
  fill: #f4f4fd;
}

.footer-subscribe-container {
  margin-left: 96px;
}

.subscribe-title {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-subscribe {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
}
.form-subscribe-label {
  display: flex;
  flex-direction: column;
}
.form-subscribe-label-input {
  color: #ffffff;
  padding-left: 16px;
  font: 400 12px / 2 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-subscribe-label-input::placeholder {
  color: #ffffff;
}

.form-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.form-subscribe-button-icon {
  margin-left: 16px;
}

/* FORM */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  overflow-y: auto;
  padding: 72px 24px 24px 24px;
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button-close:hover .modal-button-close-icon,
.modal-button-close:focus .modal-button-close-icon {
  fill: #ffffff;
}

.modal-button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-description {
  margin-bottom: 16px;
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font: 400 12px / 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  margin-bottom: 16px;
}

.modal-input-comment {
  width: 100%;
  height: 120px;
  font: 400 12px / 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-container-checkbox {
  margin-bottom: 24px;
}

.checkbox:checked + .label-checkbox .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
  color: #4d5ae5;
}

.form-button-send {
  display: block;
  min-width: 169px;
  border: 0px;
  border-radius: 4px;
  padding: 16px 32px;
  max-height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
